.body-bg {
    background-color: $blue-body;

}

.shadow-custom {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.width-img-small {
    width: 104px;
}

.font-kitten {
    font-family: "Kitten Bold";
}

.sectiune-alba {
    border-radius   : 40px 40px 0px 0px;
    background-color: white;
    bottom          : 0;
    right           : 0;
    left            : 0;
    position        : absolute;
    z-index         : 1;
    height          : 75%;
    padding-top     : 30px;

}

.sectiune-alba-poza {
    position: absolute;
    top     : -110px;

}

.sectiune-alba-header {
    z-index : 1;
    position: relative;
}

.progress-center-img-start {
    top : -10px;
    left: -5px;
}

.progress-center-img-end {
    top  : -15px;
    right: -5px;
}

.inner-shadow {
    box-shadow: 0 4px 5px 0 #00000036 inset;

}

.progress-percent {
    font-size  : 12px;
    line-height: 1;
}


.cardBox {
    height       : 58px;
    box-shadow   : inset 2px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    font-family  : sans-serif;
}

.line-height1 {
    line-height: 1;
}

.boxColorGreen {
    background-color: #0FB665;
}

.boxColorRed {
    background-color: rgba(255, 61, 18);
}